.search-bar{
    display: block;
}

.thumbnail-box{
    width: 300px;
    
}
.thumbnail{
    width: 300px;
    display: inline-block;
    margin-right: 1rem;
}

.details{
    width: 300px;
    display: block;
    margin-top: 12px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.author-profile-box{

}

.author-profile{
    width: 40px;
    border-radius: 50px;
}

.video-text{

}

.video-title{
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.25rem;
}

p{
    font-size: 14px;
    font-family: Roboto, Arial;
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.video-author{
    font-size: 0.75rem;
    color: #606060;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.video-stats{
    font-size: 0.75rem;
    color: #606060;
    margin-bottom: 0rem;
    margin-top: 0.25rem;
}