*{
    margin: 0;
}

body{
    background-color: #f5f1eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    padding: 8.5em;
    width: 31.25em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.picture-container{
    
}

.picture{
    width: 250px;
}

.card-details{
    display: inline-block;
    height: 375px;
    width: 250px;
    background-color: white;
}