*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f1eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.card-container{
    display: block;
    padding: 120px;
    width: 400px;
    background-color: aqua;
}

.picture-container{
    display: inline-block;
    padding: 100px;
    width: 20px;
    background-color: pink;
}

.card-details{
    display: inline-block;
    padding: 100px;
    width: 20px;
    background-color: black;
}